<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../iron-icon/iron-icon.html">
<link rel="import" href="../iron-icons/iron-icons.html">
<link rel="import" href="../iron-iconset-svg/iron-iconset-svg.html">
<link rel="import" href="../paper-icon-button/paper-icon-button.html">


<dom-module id="paper-icon-refresh">
  <template>
    <style>
      :root{
        --text-align-refresh: center;
        --cursor-refresh: pointer;
        --refresh-styles:{
          text-align: var(--text-align-refresh);
          cursor: var(--cursor-refresh);
          
        }
      }
      .refresh{
        @apply --refresh-styles;
      }
    </style>
    <template is="dom-if" if="[[icon]]">
      <div class="refresh">
        <iron-icon icon="[[icon.name]]" on-click="_refresh"></iron-icon>
      </div>
    </template>
  </template>
  

  <script>
    
    class PaperIconRefresh extends Polymer.Element {
      static get is() { return 'paper-icon-refresh'; }
      static get properties() {
        return {
          icon: {
            type: Object,
          }
        };
      }
      
      _refresh(event){
        const eventButton = event.target;
        const sendEvent = new CustomEvent('send-event', {
          bubbles: true,
          composed: true,
          detail: {
            data: 'xd',
          }
        });
        this.dispatchEvent(sendEvent);
      }
    }

    window.customElements.define(PaperIconRefresh.is, PaperIconRefresh);
  </script>
</dom-module>
